/* Showcase */

@media (max-width: 900px) {
  #about .about-content {
    display: block;
  }

  #about .about-content .about-image img {
    display: none;
  }
  #showcase .showcase-content {
    background: rgba(0, 0, 0, 0);
  }

  #work .projects {
    grid-template-columns: 1fr;
  }

  #showcase {
    background: url('../images/cpu2.jpg') no-repeat center center/cover;
  }

  #showcase .showcase-content .text-container {
    padding-top: 5rem;
  }
}

/* Mobile Phones */

@media (max-width: 500px) {
  #navbar ul {
    justify-content: center;
  }
}
