@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $dark-color;
  // transition: transform 0.2s;

  &:visited {
    color: $dark-color;
  }
}

p {
  margin: 0.75rem 0;
}

body {
  font-family: $font-stack;
  font-weight: bold;
  line-height: 1.5;
}

/* Utility Class */
.container {
  max-width: 1100px;
  overflow: auto;
  margin: auto;
  padding: 0 1.5rem;
}

.text-primary {
  color: $dark-color;
}

.lg-heading {
  font-size: 1.75rem;
}

.md-heading {
  font-size: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.bg-light {
  background: $light-color;
}

.bg-dark {
  background: $dark-color;
}

.card {
  background: $white-color;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
}

/* Navbar */
#navbar {
  padding: 1rem;
  background: $dark-color;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li a {
      color: $white-color;
      margin: 0 0.5rem;
      padding: 0.25rem;
      border-radius: 5px;
      display: block;
    }

    a:hover {
      background: $light-color;
      color: $dark-color;
    }
  }
}

/* Showcase */

#showcase {
  background: url('../images/cpu.jpg') no-repeat center center/cover;
  height: 100vh;
  color: $white-color;
  text-align: center;

  h1,
  h3 {
    padding-top: 1.25rem;
  }
}

/* Work */

#work {
  background-color: $light-color;
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &-image {
      width: 100%;
      border-radius: 10px;
      border: 1px solid black;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.01);
      }
    }

    &-title {
      font-size: 20px;
      // margin-bottom: 0.5rem;
    }

    &-heading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* About */
#about {
  background: $white-color;
  border-bottom: 1px solid $dark-color;
  border-top: 1px solid $dark-color;

  .about-content {
    display: flex;
    justify-content: flex-end;

    .about-image {
      flex: 1;
      display: flex;
      justify-content: center;

      img {
        border-radius: 10px;
      }
    }

    .about-text {
      padding: 1rem;
      line-height: 1.7;
      flex: 1;
    }
  }
  h3 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

/* Contact */
#footer {
  text-align: center;
  background: $white-color;
  font-size: 1rem;
  line-height: 1.8;
  border-top: 1px solid black;

  address {
    font-style: normal;
  }

  .phone-number {
    text-decoration: none;
  }

  .footer-icons {
    margin: 1rem;
  }
}

/* icons */
.icon {
  font-size: 20px;
  padding: 0.5rem;
  color: $dark-color;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.icon-lg {
  font-size: 2.5rem;
  transition: transform 0.2s;
}

/* Section: Contact Form */

#contact {
  background-color: $light-color;

  form {
    padding: 1.5rem 0rem;
  }

  h2 {
    text-align: center;
  }

  .contact-form .form-group {
    margin: 0.75rem;
  }

  .contact-form label {
    display: block;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    outline: 0;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-family: $font-stack;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #333;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-family: $font-stack;
  }

  .btn {
    display: inline-block;
    color: #fff;
    background: black;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
  }
  .btn:hover {
    background: #333;
    color: white;
    border: 1px solid black;
  }
}

// Import media queries

@import 'mobile';
